@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden; /* Zamezí nechtěnému posunování stránky na tabletu */
  background-color: #000000;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-tap-highlight-color: transparent; /* Odstraní modrý efekt při klepnutí na displej */
}

/* Zajištění plné výšky obrazovky bez lišt */
body {
  min-height: 100vh;
  min-height: 100dvh;
}
